<html>
<head>
	<title>indel finder</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
<link rel="stylesheet" href="/static/css/bootstrap.css" type = "text/css">
<link rel="stylesheet" href="/static/css/main.css" type = "text/css">
</head>

<body style = "margin-left: 30px">
<h1> Indel finder for Yeh/Peterson lab</h1>

<form action="output_table" method="post">
	<fieldset>
		<legend>Enter data</legend>
		<label>gene name: </label><input type = "text" name = "gene_name"><br><br>
		<label>sequences: </label>
		<textarea id = "bigTextArea" rows = "4" cols = "300" name = "sequences"></textarea>
		<!-- <input type = "text" name = "sequences"> --><br><br>
		<label>binding site 1: </label><input type="text" name="b1"><br><br>
		<label>binding site 2: </label><input type="text" name="b2"><br><br>
		<label>wild type sequence: </label><input type="text" name ="wt"><br><br>
		<input type="submit" class = "btn" value="Submit">
	</fieldset>
</form>
<p>
Suggested Data: <br>
Gene name: nrxn <br>
bind1 = "ATCTTCAGC" <br>
bind2 = "GATGAGGTT" <br>
wt = <br>GCGCAGGAATTTCAAAAACACTACTTTAGTTGTGGACGAAGAAATCAAGTGGGTGGAGGTAAAGTCGAAACGGAGGGACATGACGGTCTTCAGCCATTTATTCTTAGGGGGGATACCTCCTGAACTGCGATCTGTAGCATTACGCCTCACATCTTCAGCCATAAAAGATGAGGTTCCCTACAAAGGATGGATAACCAACCTGAGAGTGAACGGCTCGGAGCCGGTGCTTATCGGTAGCGATGGAGTCAACAGCGACATTTGCGAAGCCGACCACATTTGCCTGAATGGAGGAGT
</p>
<p>
gene name: epas<br>
bind1 = "TACAATACTCCCACTGAA"<br>
bind2 = "ACTCATGGACAGTTGGTA"<br>
target = "ATGACAGATGCAGACAG"<br>
wt = <br>cactgttgttaggagggttcagagtagcaggatgaagttgctgttgtttattttggatgtgagccaagggcttgagagctagaacaagactagtatagtgtgcacacacactaacttgcattctaaaactcttgtgtttgtgctgtattgcagGCTACAATACTCCCACTGAAATGACAGATGCAGACAGACTCATGGACAGTTGGTATCTGAAGTCACTCGGTGGCTTTATTACAGTGGTAACATCAGATGGAGACATGATCTTCTTATCGGAGAACATCAACAAtagtaacgcacactgtatcaacacatgaatcga
</p>

</body>
</html>